<div class="houses">
    <label>
        <p>Here's to finding your future home!</p>
        <Input @value={{this.searchString}} class="light" />
    </label>

    <SearchBar::SearchBar @houses={{@houses}} @searchString={{this.searchString}} as |results|>
    </SearchBar::SearchBar>
    {{#each @model as |house|}}
        {{house}}
        <li><House @house={{house}} ></House></li>
    {{/each}}
</div>
