<div class="register">
    <div class="register-login-div">
        <h3>Already Have an Account?<LinkTo @route="login" class="button" @model={{@login}}>Login</LinkTo></h3>
    </div>
    <br>
    <h1>Register your account below</h1>
    <p class="hidden">Successfully Created Account!</p>
    <br>
    <form autocomplete="off" action="" method="post" class="register-form">
        <label for="registerUserName">UserName: </label>
        <input type="text" id="registerUserName" value={{@register.username}} required />
        <br>
        <label for="registerName">Name: </label>
        <input type="text" id="registerName" value={{@register.name}} required/>
        <br>
        <label for="registerEmail">Email: </label>
        <input type="text" id="registerEmail" value={{@register.email}} required />
        <br>
        <label for="registerPassword">Password: </label>
        <input type="text" id="registerPassword" value={{@register.password}} required/>
    </form>
    <input type="submit" id="createAccountButton" class="button" value="Create Account" disabled={{this.isDisabled}}/>
</div>
